<div class="wrapper">
  <main class="content">
    <div class="container">
      <div>
        <div *ngIf="cart.length > 0">
          <button
            class="btn cartBtn"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            Visualizza carrello ({{ cart.length }})
          </button>

          <div
            class="offcanvas offcanvas-end px-4 pb-3"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <div class="offcanvas-header">
              <h3 id="offcanvasRightLabel">Carrello</h3>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>

            <div class="off-body">
              <div *ngFor="let flavour of cart" class="cart-item">
                <span>{{ flavour.name }}</span>
                <button
                  class="btn"
                  type="button"
                  (click)="removeFromOrder(flavour)"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </div>

            <div class="offcanvas-footer">
              <div class="subtotal">
                <h5>Subtotale</h5>
                <p>€{{ cart.length * 2 }},00</p>
              </div>
              <div class="off-btn">
                <button class="btn pay-btn" (click)="createOrder()">
                  <img
                    src="/paypal_logo.png"
                    alt="paypalLogo"
                    class="paypal_logo"
                  />
                </button>
                <button class="btn empty-btn" (click)="clearCart()">
                  Svuota carrello
                </button>
                <p><i class="bi bi-lock-fill"></i>Pagamento sicuro</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Crema</h2>
        <div class="col-md-4" *ngFor="let flavour of creamFlavours">
          <div class="card_wrapper">
            <div class="info_container">
              <h3>{{ flavour.name }}</h3>
              <p>{{ flavour.description }}</p>
            </div>
            <div class="img_container">
              <img
                src="/gelato_ex.webp"
                class="card-img-top"
                alt="Immagine Gusto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Frutta</h2>
        <div class="col-md-4" *ngFor="let flavour of fruitFlavours">
          <div class="card_wrapper">
            <div class="info_container">
              <h3>{{ flavour.name }}</h3>
              <p>{{ flavour.description }}</p>
            </div>
            <div class="img_container">
              <img
                src="/gelato_ex.webp"
                class="card-img-top"
                alt="Immagine Gusto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
