//FOOTER IN FONDO ALLA PAGINA
.wrapper {
  min-height: 84vh;
  color: white;
  padding-top: 200px;
  font-family: "Poiret One", serif;
  background-color: rgb(212, 212, 212);
}

.content {
  flex: 1;
}

//

.container {
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  background-color: rgba(255, 154, 22, 0.613);
  border: none;
  color: white;
}

.card_img {
  background-image: url("/gelatociocc.webp");
  height: 150px;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px 10px 0 0;
}

.cartBtn {
  color: white;
}

.offcanvas-header {
  border-bottom: 2px solid black;
  padding-inline: 0;
  padding-block: 0.5rem;
}

.off-body {
  flex: 1;
  .cart-item {
    border-bottom: 1px solid black;
    padding-inline: 0;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 0;
    }
  }
}

.offcanvas-footer {
  .subtotal {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-block: 0.5rem;
  }
  .off-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    .pay-btn {
      color: white;
      margin-bottom: 1rem;
      background-color: #ffc439;
      .paypal_logo {
        width: 100px;
      }
    }
    .empty-btn {
      border: 1px solid rgb(32, 32, 32);
    }
    p {
      padding-top: 0.5rem;
    }
  }
}
