//FOOTER IN FONDO ALLA PAGINA
.wrapper {
  min-height: 84vh;
  background-color: black;
  font-family: "Poiret One", serif;
  color: white;
  padding-top: 200px;
}

.content {
  flex: 1;
}

//

.text-yellow {
  color: rgb(255, 154, 22);
}

form {
  input {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
  }
  label {
    padding-top: 2rem;
  }
}

input:focus {
  box-shadow: none;
}

.visibleBtn {
  border: none;
  border-bottom: 1px solid white;
  color: rgb(255, 154, 22);
}

.loginBtn {
  background-color: rgb(255, 154, 22);
  margin-top: 2rem;
  border: none;
}
