.wrapper {
  min-height: 84vh;
  background-color: black;
  font-family: "Poiret One", serif;
  color: white;
  padding-top: 150px;
}

.content {
  flex: 1;
}

//

.text-yellow {
  color: rgb(255, 154, 22);
}

.container {
  width: 35%;
  border: 3px solid rgb(255, 154, 22);
  padding: 3rem;
  border-radius: 5%;
  form {
    input {
      background-color: black;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      color: white;
    }
    label {
      padding-top: 2rem;
    }
  }

  input:focus {
    box-shadow: none;
  }

  .registerBtn {
    margin-top: 2rem;
    background-color: black;
    color: rgb(255, 154, 22);
    border: 1px solid rgb(255, 154, 22);
    border-radius: 5px;
    &:hover {
      background-color: rgb(255, 154, 22);
      color: black;
      border: 1px solid black;
    }
  }
}

.back {
  margin-top: 10px;
  background-color: black;
  color: rgb(255, 154, 22);
  border: 1px solid rgb(255, 154, 22);
  border-radius: 5px;
  margin-left: 1rem;
  &:hover {
    background-color: rgb(255, 154, 22);
    color: black;
    border: 1px solid black;
  }
}
