//FOOTER IN FONDO ALLA PAGINA
.wrapper {
  min-height: 100vh;
  font-family: "Poiret One", serif;
  font-size: 24px;
  color: white;
  background-color: black;
}

.content {
  flex: 1;
}

//

.header_img {
  height: 300px;
  background-image: url("/img4.png");
  background-size: cover;
  background-position: center -130px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: rgba(0, 0, 0, 0.821);
    height: 80px;
    width: 500px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    padding-block: 12px;
  }
}

.list {
  padding-inline: 5%;
  padding-top: 2rem;
  .alcool,
  .no_alcool {
    display: flex;
    justify-content: space-evenly;
    h3 {
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 10px;
      color: rgb(255, 154, 22);
      text-transform: uppercase;
      font-weight: 600;
    }
    ul {
      margin-bottom: 0;
      padding-bottom: 1rem;

      li {
        color: white;
        background-color: black;
        padding-inline: 30px;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(71, 68, 68);
        width: 550px;
        span {
          font-size: 18px;
        }
      }
    }
  }
}

.icecream {
  display: flex;
  justify-content: space-evenly;
  h3 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: rgb(255, 154, 22);
    text-transform: uppercase;
    font-weight: 600;
  }
  padding-top: 1rem;
  align-items: center;
  span {
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding-left: 2rem;
  }

  .btn {
    background-color: black;
    color: rgb(255, 154, 22);
    border: 1px solid rgb(255, 154, 22);
    height: 40px;
    margin-inline: 230px;
    &:hover {
      background-color: rgb(255, 154, 22);
      color: black;
      border: 1px solid black;
    }
    p {
      margin: 0;
    }
  }
}
