<div class="wrapper">
  <main class="content">
    <h2 class="text-center">MENU</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between">
        <span>Short drink</span> <span>€9.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Double drink</span> <span>€8.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Long drink</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Long strong</span> <span>€11.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Birra</span> <span>€3.50 da 0.25l / €6.00 da 0.50lb</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Grog</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Hot cream</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Hot fruit</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Hot caffè</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Brulè</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Decotto</span> <span>€6.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Infusi/the</span> <span>€5.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Sapore di latte</span> <span>€7.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Cacao cult</span> <span>€7.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Drink di frutta</span> <span>€8.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Soda</span> <span>€7.50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Iced tea</span> <span>€6.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Marzapane</span> <span>€7.00</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Gelato</span> <span>€2.50 a pallina</span>
      </li>
    </ul>
  </main>
</div>
