<div class="wrapper">
  <main class="content">
    <div class="header_img">
      <h1 class="text-center">Le nostre tipologie</h1>
    </div>
    <div class="list">
      <div class="alcool">
        <ul>
          <h3>freddo</h3>

          <li>Short drink <span>€9.50</span></li>

          <li>Double drink <span>€8.50</span></li>

          <li>Long drink <span>€8.00</span></li>

          <li>Long strong <span>€11.00</span></li>

          <li>Birra bianca<span>€3.50 da 0.25l / €6.00 da 0.50l</span></li>
        </ul>
        <ul>
          <h3>caldo</h3>

          <li>Grog <span>€8.00</span></li>

          <li>Hot cream <span>€8.00</span></li>

          <li>Hot fruit <span>€8.00</span></li>

          <li>Hot caffè <span>€8.00</span></li>

          <li>Brulè <span>€8.00</span></li>
        </ul>
      </div>
      <div class="no_alcool">
        <ul>
          <h3>caldo 0%</h3>

          <li>Decotto <span>€6.50</span></li>

          <li>Infusi/the <span>€5.50</span></li>

          <li>Sapore di latte <span>€7.00</span></li>

          <li>Cacao cult <span>€7.50</span></li>
        </ul>
        <ul>
          <h3>freddo 0%</h3>

          <li>Drink di frutta <span>€8.00</span></li>

          <li>Soda <span>€7.50</span></li>

          <li>Iced tea <span>€6.00</span></li>

          <li>Marzapane <span>€7.00</span></li>
        </ul>
      </div>

      <div class="icecream">
        <h3>i nostri gelati artigianali <span>€2.50 a pallina</span></h3>
        <button class="btn" routerLink="/gelato-order">
          <p>Scopri i gusti</p>
        </button>
      </div>
    </div>
  </main>
</div>
