<div class="wrapper">
  <main class="content">
    <div class="header_img">
      <h2 class="text-center">menu</h2>
    </div>
    <div class="list">
      <ul>
        <h3><strong>Cocktail Alcolici</strong></h3>

        <li class="d-flex justify-content-between">
          <span>Short drink</span> <span>€9.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Double drink</span> <span>€8.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Long drink</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Long strong</span> <span>€11.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Birra</span> <span>€3.50 da 0.25l / €6.00 da 0.50lb</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Grog</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Hot cream</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Hot fruit</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Hot caffè</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Brulè</span> <span>€8.00</span>
        </li>

        <h3><strong>Cocktail Analcolici</strong></h3>

        <li class="d-flex justify-content-between">
          <span>Decotto</span> <span>€6.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Infusi/the</span> <span>€5.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Sapore di latte</span> <span>€7.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Cacao cult</span> <span>€7.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Drink di frutta</span> <span>€8.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Soda</span> <span>€7.50</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Iced tea</span> <span>€6.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Marzapane</span> <span>€7.00</span>
        </li>

        <hr />

        <li class="d-flex justify-content-between">
          <span>Gelato</span> <span>€2.50 a pallina</span>
        </li>
      </ul>
    </div>
  </main>
</div>
