<div>
  <footer>
    <div class="info">
      <div class="sub_info">
        <div class="col1 footerLogo">
          <img
            class="headerLogo"
            src="/logo_pertilia.png"
            alt="logo_pertilia"
          />
        </div>

        <div class="col2 contacts">
          <h5>Contatti</h5>
          <p><i class="bi bi-whatsapp"></i> 345/7168481</p>
          <p><i class="bi bi-envelope-open"></i> pertiliapub&#64;gmail.com</p>

          <div class="icons">
            <i class="bi bi-instagram"></i>

            <i class="bi bi-twitter-x"></i>

            <i class="bi bi-facebook"></i>
          </div>

          <div *ngIf="!isLoggedIn">
            <a
              routerLink="/auth/login"
              routerLinkActive="text-yellow"
              class="nav-link"
              ><i class="bi bi-box-arrow-in-right"></i> Login</a
            >
          </div>

          <div *ngIf="isLoggedIn">
            <a
              routerLink="/dashboard"
              routerLinkActive="text-yellow"
              class="nav-link"
              ><i class="bi bi-door-open"></i> Dashboard</a
            >
          </div>

          <div *ngIf="isLoggedIn">
            <a routerLink="" class="nav-link" (click)="logout()"
              ><i class="bi bi-box-arrow-left"></i> Logout</a
            >
          </div>
        </div>
      </div>
      <div>
        <p class="fine">© 2025 by Pertilia, Montecchio Precalcino (VI)</p>
      </div>
    </div>
  </footer>
</div>
