<div class="wrapper">
  <main class="content">
    <div class="success-message" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <h3>Nuova Prenotazione</h3>
    <form (ngSubmit)="createReservation()">
      <label for="customerName">Nome Cliente</label>
      <input
        id="customerName"
        [(ngModel)]="newReservation.customerName"
        name="customerName"
        required
      />

      <label for="email">Email</label>
      <input
        id="email"
        [(ngModel)]="newReservation.email"
        name="email"
        type="email"
        required
      />

      <label for="reservationDate">Data Prenotazione</label>
      <input
        id="reservationDate"
        [(ngModel)]="newReservation.reservationDate"
        name="reservationDate"
        type="datetime-local"
        required
      />

      <label for="numberOfGuests">Numero Ospiti</label>
      <input
        id="numberOfGuests"
        [(ngModel)]="newReservation.numberOfGuests"
        name="numberOfGuests"
        type="number"
        required
      />

      <button type="submit">Crea Prenotazione</button>
    </form>
  </main>
</div>
