<div class="wrapper">
  <main class="content">
    <div class="header_img"></div>
    <div class="edit-flavour-container">
      <button routerLink="/dashboard" class="btn back">
        <i class="bi bi-caret-left"></i> Indietro
      </button>

      <div class="edit_container">
        <h3>Modifica gusto: {{ currentFlavour?.name }}</h3>

        <form
          [formGroup]="flavourForm"
          (ngSubmit)="submit()"
          class="form_container"
        >
          <div>
            <label for="name">Nome:</label>
            <input id="name" formControlName="name" required />
          </div>

          <div>
            <label for="type">Tipo:</label>
            <select id="type" formControlName="type">
              <option *ngFor="let t of flavourTypes" [value]="t">
                {{ t }}
              </option>
            </select>
          </div>

          <div>
            <label for="description">Descrizione:</label>
            <textarea id="description" formControlName="description"></textarea>
          </div>

          <div>
            <label for="file-upload" class="custom-file-upload"
              >Immagine:</label
            >
            <input
              id="file-upload"
              type="file"
              (change)="onFileSelected($event)"
            />
          </div>

          <div class="buttons">
            <button type="submit" class="btn save">Salva Modifiche</button>
          </div>
        </form>

        <!-- <form (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Nome</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="flavour.name"
              name="name"
              required
            />
          </div>

          <div>
            <label for="type">Tipo</label>
            <select id="type" [(ngModel)]="flavour.type" name="type">
              <option value="CREMA">Crema</option>
              <option value="FRUTTA">Frutta</option>
            </select>
          </div>

          <div>
            <label for="description">Descrizione</label>
            <textarea
              id="description"
              [(ngModel)]="flavour.description"
              name="description"
            ></textarea>
          </div>

          <div>
            <label for="image" class="custom-file-upload"
              >Carica un'immagine</label
            >
            <input
              id="image"
              type="file"
              [(ngModel)]="flavour.imagePath"
              name="image"
              required
            />
          </div>

          <button type="submit" class="btn">Modifica gusto</button>
          <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        </form> -->
      </div>
    </div>
  </main>
</div>
