<div class="wrapper">
  <main class="content">
    <div class="header_img">
      <div class="header_title">
        <div class="header_content">
          <img class="headerLogo" src="/sfondo1.png" alt="header_img2" />
        </div>
      </div>
    </div>

    <div class="divisorio">
      <hr />
    </div>

    <div class="reservation_container">
      <h3>Prenota un tavolo!</h3>

      <div class="success-message" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <form (ngSubmit)="createReservation()">
        <div>
          <label for="customerName">Nome</label>
          <input
            id="customerName"
            [(ngModel)]="newReservation.customerName"
            name="customerName"
            required
          />
        </div>

        <div>
          <label for="email">Email</label>
          <input
            id="email"
            [(ngModel)]="newReservation.email"
            name="email"
            type="email"
            required
          />
        </div>

        <div>
          <label for="reservationDate">Data</label>
          <input
            id="reservationDate"
            [(ngModel)]="newReservation.reservationDate"
            name="reservationDate"
            type="date"
            required
            [min]="minDate"
            [max]="maxDate"
          />
        </div>

        <div>
          <label for="reservationTime">Orario</label>
          <select
            id="reservationTime"
            [(ngModel)]="newReservation.reservationTime"
            name="reservationTime"
            required
          >
            <option *ngFor="let time of availableTimes" [value]="time">
              {{ time }}
            </option>
          </select>
        </div>

        <div>
          <label for="numberOfGuests">Numero Ospiti</label>
          <input
            id="numberOfGuests"
            [(ngModel)]="newReservation.numberOfGuests"
            name="numberOfGuests"
            type="number"
            required
            min="1"
          />
        </div>

        <div>
          <button type="submit">Prenota</button>
        </div>
      </form>
    </div>

    <div class="divisorio">
      <hr />
    </div>

    <div class="info">
      <div class="orari">
        <p>orari</p>
        <p>
          Martedì-Giovedì <br />
          18:00 - 1:00
        </p>
        <p>
          Venerdì-Sabato <br />
          18:00 - 3:00
        </p>
        <p>
          Domenica <br />
          16:00 - 1:00
        </p>
        <p>Lunedì chiuso</p>
      </div>
      <img src="/img2.png" alt="img2" />
      <div class="promozione">
        <p>Approfitta della promozione!</p>
        <p>
          Entrando prima delle ore 22:00 avrai uno sconto del 10% sui nostri
          cocktail!
        </p>
      </div>
    </div>

    <div class="divisorio">
      <hr />
    </div>

    <div class="drink_personalizzato">
      <button class="btn" routerLink="/quiz">CREA IL TUO DRINK</button>
    </div>

    <div class="divisorio">
      <hr />
    </div>

    <div class="noi">
      <div class="dove_siamo">
        <h1>Dove siamo</h1>
        <div id="map"></div>
      </div>

      <div class="chi_siamo">
        <h1>Chi siamo</h1>
        <p>
          Da sempre, Il Pertilia è sinonimo di eleganza e innovazione, un luogo
          in cui ogni cocktail racconta una storia unica. La nostra selezione di
          distillati pregiati e l’abilità dei nostri mixologist trasformano ogni
          drink in un’esperienza sensoriale indimenticabile, perfetta per chi
          ricerca il gusto autentico e la raffinatezza in ogni sorso.
        </p>
        <p>
          L’atmosfera sofisticata e l’attenzione ai dettagli rendono Il Pertilia
          il punto di riferimento per gli amanti della mixology. Che sia per un
          aperitivo esclusivo o un dopocena raffinato, il nostro cocktail bar
          offre un ambiente intimo e ricercato, dove ogni cliente può lasciarsi
          sorprendere da creazioni uniche e dal perfetto equilibrio di sapori.
        </p>
      </div>
    </div>

    <div class="divisorio">
      <hr />
    </div>
  </main>
</div>
