<div class="wrapper">
  <main class="content">
    <div class="header_img">
      <h1 class="text-center">gestione amministratore</h1>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <div class="reservation_account">
      <h2>Lista Prenotazioni</h2>
      <div class="signup">
        <a routerLink="/register" class="nav-link"
          >Crea un altro account admin</a
        >
      </div>
    </div>

    <table *ngIf="reservations.length > 0" class="reservation_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Data</th>
          <th>Orario</th>
          <th>Numero Ospiti</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.customerName }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            {{ reservation.reservationDate | date : "d/MM/yyyy" }}
          </td>
          <td>{{ reservation.reservationTime.substring(0, 5) }}</td>
          <td>{{ reservation.numberOfGuests }}</td>
          <td>
            <button
              *ngIf="reservation.id"
              (click)="deleteReservation(reservation.id)"
              class="btn"
            >
              <i class="bi bi-x-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="reservations.length === 0" class="no_reservation">
      <p>Non ci sono prenotazioni.</p>
    </div>

    <div class="order_title"><h2>Lista Ordini</h2></div>
    <table class="order_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Cliente</th>
          <th>Email</th>
          <th>Indirizzo</th>
          <th>Data</th>
          <th>Totale</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of gelatoOrders"
          [ngClass]="{ highlighted: order.id === selectedOrderId }"
        >
          <td>{{ order.id }}</td>
          <td>{{ order.costumerName }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.deliveryAddress }}</td>
          <td>{{ order.orderDate | date : "d/MM/yyyy" }}</td>
          <td>€ {{ order.totalPrice }}.<sub>00</sub></td>
          <td>
            <button (click)="toggleDetails(order.id)" class="btn">
              {{ showDetailsForOrders[order.id] ? "Nascondi" : "Dettagli" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-container *ngFor="let order of gelatoOrders">
      <div *ngIf="showDetailsForOrders[order.id]">
        <div class="detail_div">
          <h3>Dettagli ordine {{ order.id }}</h3>

          <div *ngFor="let detail of order.details" class="detail">
            <p>N° palline: {{ detail.totalScoops }}</p>
            <div>
              <p>Gusti:</p>
              <ul>
                <li *ngFor="let scoop of detail.scoopQuantities">
                  {{ scoop.numberOfScoops }} pallina/e di
                  {{ scoop.flavour.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="gusti">
      <h2>Lista Gusti</h2>

      <button routerLink="/new-flavour" class="btn">
        <i class="bi bi-plus-lg"></i> Nuovo gusto
      </button>
    </div>
    <table class="flavours_table" *ngIf="flavours.length > 0">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Tipo</th>
      </tr>
      <tr *ngFor="let flavour of flavours; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ flavour.name }}</td>
        <td>{{ flavour.description }}</td>
        <td>{{ flavour.type }}</td>
        <td>
          <button [routerLink]="['/edit-flavour', flavour.id]" class="btn">
            <i class="bi bi-pencil"></i>
          </button>
          <button
            *ngIf="flavour.id !== undefined"
            (click)="deleteFlavour(flavour.id)"
            class="btn"
          >
            <i class="bi bi-x-square"></i>
          </button>
        </td>
      </tr>
    </table>

    <div
      *ngIf="flavours.length === 0 && !errorMessage"
      class="alert alert-info"
    >
      Non ci sono gusti
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </main>
</div>
